body {
	padding-top: 3rem;
}

main {
	background: white;
}

.footer {
	background: #eee;
	color: #999;
	padding: 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 1rem;
}

@media screen and (max-width: 549px) {
	h1 {
		font-size: 2.25rem;
	}
}

@media screen and (min-width: 550px) {
	h1 {
		font-size: 3rem;
	}
}

section {
	margin: 3rem 0;
}

blockquote {
	margin: 3rem 0 4rem;
}

blockquote p {
	font-family: 'Indie Flower', cursive;
	font-size: 1.5rem;
	font-style: italic;
	margin-bottom: .25rem;
}

blockquote footer {
	text-align: right;
}

.cat {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
}

.cat_com {
	list-style: disc;
	margin: 1rem 0 2rem;
}

.cat_com_desc {
	margin-top: .33rem;
	color: #999;
}

.signature {
	color: #555;
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
}

.navbar-brand i,
h1 i {
	margin-right: .4rem;
}

.footer h2 {
	font-size: 1.5rem;
}

.footer p {
	font-size: .85rem;
}

.cat {
	background: #ebf7ff;
	padding: 1.33rem;
}
