body {
	padding-top: 3rem;
}

main {
	background: white;
}

footer {
	background: #eee;
	color: #999;
	padding: 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 1rem;
}

section {
	margin: 3rem 0;
}

.cat {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
}

.cat_com {
	list-style: disc;
	margin: 1rem 0 2rem;
}

.cat_com_desc {
	margin-top: .33rem;
	color: #999;
}
